<img class="img1" src="https://cdn.7tv.app/emote/613937fcf7977b64f644c0d2/4x.webp">
<img class="img2" src="https://cdn.7tv.app/emote/613937fcf7977b64f644c0d2/4x.webp">

<div class="boxModel"></div>


<input class="input" type="text">
<button class="button">button</button>
<br />
<br />
<br />
<div class="d-flex boxdiv">
  <div class="box1">Flex item 1</div>
  <div class="align-self-end box2">Flex item 2</div>
  <div class="align-self-center box3">Flex item 3</div>
  <div class="align-self-baseline box4">Flex item 4</div>
  <div class="box5">Flex item 5</div>
</div>
<div class="d-flex flex-row-reverse reverse-column justify-content-end  boxdiv">
  <div class="d-flex align-items-center box1">Flex item 1</div>
  <div class="align-self-end box2">Flex item 2</div>
  <div class="align-self-center box3">Flex item 3</div>
  <div class="align-self-baseline box4">Flex item 4</div>
  <div class="box5">Flex item 5</div>
</div>

<div class="d-flex xdd">
  <div class="xddshrug">
  </div>
</div>

<h1 class="angular">Angular</h1>
<br />
<app-components1></app-components1>
<br />
<app-components2></app-components2>


<!-- 變數、事件繫結 -->
<br />
<h1 class="testTitle">{{testTitle}}</h1>
<h3 class="testContent">{{testContent}}</h3>
<img [src]="testImage">
<!-- <br>
<img [src] ="" alt="xdd">
<br/> -->
<!-- 方法 -->
<button (click)="showAlert()">還在GO</button>
<br />
<!-- (ngModel)可以讓使用者決定這個變數 -->
{{inputData}}
<input [(ngModel)]="inputData" />
<button (click)="showInputData()">顯示inputData</button>
<br />
<br />

<!-- 回家作業 -->
<div class="levelCalculator">
  <button class="levelReset" (click)=" levelReset() ">重置</button>
  <h3 class="calTitle">角色等級計算器</h3>
  <div class="statusDiv">
    <p class="status">等級 :</p>
    <p class="levelCalVariable">{{level}}</p>
  </div>

  <div class="levelUpDown">
    <button class="levelUp, button1" (click)=" levelUp() ">升級</button>
    <button class="levelDown, button1" (click)=" levelDown() ">降級</button>
  </div>

  <div class="statusDiv">
    <p class="status">攻擊力 :</p>
    <p class="levelCalVariable">{{attack}}</p>
  </div>
  <div class="statusDiv">
    <p class="status">防禦力 :</p>
    <p class="levelCalVariable">{{defense}}</p>
  </div>

  <p class="status">{{introduction}}</p>

  <div class="inputLevelDiv">
    <p class="status"> 自行輸入等級:</p>
    <input [(ngModel)]=" input " />
  </div>

  <button class="levelChange" (click)=" levelChange() ">修改等級</button>
</div>

<br>
<button (click)="printOut1()">印出1到50</button>
<button (click)="printOut2()">印出1到50中除3會餘2的數字</button>
<button (click)="printOut3()">修改小王的年齡為18</button>
<!--C:\Windows\System32>cd C:\Users\user\Desktop\demo11
C:\Users\user\Desktop\demo11>ng s-->
