<!-- 讓home icon能正確顯示 -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="wrapper">

  <div class="header">
    <h1 class="title">Angular</h1>

    <div class="headerSmall">
      <h2 class="headerSmallLink"><a routerLink="/nav" routerLinkActive="active">上課練習</a></h2>
      <h2 class="headerSmallLink"><a href="https://angular.dev/">官網</a></h2>
      <div class="headerSmallLink"><a href="/"><mat-icon aria-hidden="false" aria-label="Example home icon"
            fontIcon="home"></mat-icon></a></div>
    </div>

  </div>
  <router-outlet></router-outlet>
</div>
<!-- @for(data of arrayData3; track data.id){
    @for(user of data.userData; track user.userId){
  <h3>{{user.userId}}</h3>
  }
} -->

<!-- spinner -->
<!-- | async用來訂閱跟等待loading變更 -->
<!-- 一開始有預設值false所以一開始不顯示 -->
@if(loading$ | async){
<div class="overlay"></div>
<mat-spinner></mat-spinner>
}
