* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100dvw;
    height: 100dvh;
    background-color: #edf1d6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainArea {
    width: 800px;
    height: 80%;
    position: relative;
    svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        fill: transparent;
        path {
            stroke: #45553d;
            fill: transparent;
            &:hover {
                fill: #45553d;
            }
        }
    }
    select{
        position: absolute;
        top: 5%;
        right: 10%;
        width: 200px;
        height: 30px;
        border-radius: 10px;
        border: none;
        font-size: 18px;
    }
    .weather{
        width: 300px;
        height: 30%;
        position: absolute;
        top: 50%;
        right: 10%;
        padding: 3%;
        border-radius: 20px;
        background-color: #45553d;
        p{
            color: white;
            margin-bottom: 3%;
            font-size: 20px;
        }
        #countyName{
            font-size: 30px;
            font-weight: bold;
        }
        .weatherImg{
            color: #9DC08B;
            i{
                font-size: 100px;
                position: absolute;
                top: 15%;
                right: 5%;
            }
        }
    }
}
