<div class="nav">
  <h4 class="navContent"><a routerLink="/nav/htmlPractice" routerLinkActive="active" >HtmlCSS練習</a></h4>
  <h4 class="navContent"><a routerLink="/nav/bindingPractice" routerLinkActive="active">Binding練習</a></h4>
  <h4 class="navContent"><a routerLink="/nav/routerPractice" routerLinkActive="active">Router練習</a></h4>
  <h4 class="navContent"><a routerLink="/nav/arrayPractice" routerLinkActive="active">Array練習</a></h4>
  <h4 class="navContent"><a routerLink="/nav/ifPractice" routerLinkActive="active">if練習</a></h4>
  <h4 class="navContent"><a routerLink="/nav/apiPractice" routerLinkActive="active">api練習</a></h4>
  <h4 class="navContent"><a routerLink="/nav/iconPractice" routerLinkActive="active">icon練習</a></h4>
  <h4 class="navContent"><a routerLink="/nav/inputPractice" routerLinkActive="active">input練習</a></h4>

</div>

<div class="navRouterOutlet">
<router-outlet></router-outlet>
</div>
