<img class="img1" src="https://cdn.7tv.app/emote/613937fcf7977b64f644c0d2/4x.webp">
<img class="img2" src="https://cdn.7tv.app/emote/613937fcf7977b64f644c0d2/4x.webp">

<div class="boxModel"></div>


<input class="input" type="text">
<button class="button">button</button>
<br />
<br />
<br />
<div class="d-flex boxdiv">
  <div class="box1">Flex item 1</div>
  <div class="align-self-end box2">Flex item 2</div>
  <div class="align-self-center box3">Flex item 3</div>
  <div class="align-self-baseline box4">Flex item 4</div>
  <div class="box5">Flex item 5</div>
</div>
<div class="d-flex flex-row-reverse reverse-column justify-content-end  boxdiv">
  <div class="d-flex align-items-center box1">Flex item 1</div>
  <div class="align-self-end box2">Flex item 2</div>
  <div class="align-self-center box3">Flex item 3</div>
  <div class="align-self-baseline box4">Flex item 4</div>
  <div class="box5">Flex item 5</div>
</div>

<div class="d-flex xdd">
  <div class="xddshrug">
  </div>
</div>
